body {
	background-color: #d7e6ee;
	font-family: Helvetica, sans-serif;
}

img { 
	height: 400px;
	width: auto;
}
.heading, 
.recipes {
	font-weight: bolder;
}
.recipes {
	font-size: large;
}

.main {
	font-size: 54px;
	text-align: center;
}

.section {
	width: 600px;
}